# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Default indentation
indent_style = space
indent_size = 2

[*.{cs,csx}]
indent_size = 4
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:suggestion

[*.{ts,tsx,js,jsx,json,md,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

